.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  height: 256px;
  color: black;
}

img {
  height: 80%;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
}

.flip-card-front {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 2px black solid;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  border: 2px black solid;
}


.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}