.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  height: 256px;
  color: black;
  border-radius: 15px;
 
  
  margin: 15px;
}

img {
  height: 80%;
  width: 80%;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
}

.flip-card-front {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  background-color: green;
}